body{
        margin: 0;
        display: grid;
        height: 100vh;
        font-family:'Courier New', Courier, monospace;
        background: url("bg_files/bg.png");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
}
a{
        text-decoration: none;
        color: #f9f9f9;
}
ul{
        position: absolute;
        top: 50%;
        left: 50%;
        translate: -50% -50%;
        opacity:0;
        list-style: none;
        padding: 0;
        margin: 0;
        display: grid;
        gap: 20px;
        transition: 0.3s;


}
ul li{
        text-align: center;
}
.burger{
        position: fixed;
        z-index: 2;
        display: grid;
        width: 80px;
        height: 80px;
        background: transparent;
        background-image: url("menu.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 30%;
        transition: 0.175s;


}
.Menu{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: grid;
        transition: 0.3s;


}
.Menu>div{
        background: #030108;
        translate: -100% 0;
        transition: 0.2s ease-in-out;
}
body.open .burger{
        background-image: url("close.svg");
}
body.open .Menu ul{
        opacity: 1;
}
body.open .Menu>div{
        translate: 0;
}
@keyframes appear{
        0%{
                opacity: 0;
                translate: 0 20px;
        }
        100%{
                opacity: 1;
                translate: 0;
        }
}
body.open  .Menu ul li{
        animation: appear 0.4s both;
}

